body{
    background-color: rgb(127, 213, 247);
}
.container{
    background-color: rgb(245, 227, 62);;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 30%;

}

img{
    width: 200px;
    background-color: rgb(252, 231, 231);
}
h4{
    margin-top: 7px;
    border-radius: 20px;
    color: #fff;
}
h1{
    width: 64px;
    font-size:21px;
    border-radius: 20px;
    
}
h3{
    background-color:rgba(252, 54, 19, 0.89);
    color:#fff;
    border-radius: 15px;
    
}